/********Cadre *************/
body {
	background-attachment:fixed;
	height:2000px;
background:url(image/background.png);
background-repeat:repeat-x;

}

.wrapper{
	background:#FFF;
	width:450px;
	height:570px;
	margin: 80px auto;	
}



/********* Choose your location  **********/
#middlebar{
	font-size: 12px;
	font-weight: bold;
	height: 100px;
	width:450px;
	margin-top:20px;

}





/********By Location / Choose a Sport***************/

/***************People********************/
.logo {
	margin:10px 0 0 20px;}

.paragraphe {
	margin: 10px 0 0 25px;
	font-family:myriad pro, Courier New, Courier, monospace;
	font-size:35px;
}

#sport_choice2{
	float:left;
	margin-left:90px;
	margin-top:15px;
	width:230px;}	

#people_div{
	float:left;
	margin-left:30px;
	margin-top:35px;
	width:170px;
	height:30px;
}

#time_picker
{ float:right;
	margin-right:30px;
	margin-top:35px;
	width:170px;
}

#date_picker
{ margin: 25px 0 0 85px;
	width:270px;
	height:240px;
	float:left;
}

.book{
	float:inherit;
	width:200px;
	margin:320px 0 0 140px;}



/***** CSS 3 FORM*****/


input[type=submit]{
	width:200px;
	height:40px;
	background: -webkit-linear-gradient(#172C3D,#2A496B 50%,#192430 51%,#000);
	background: -moz-linear-gradient(#172C3D,#2A496B 50%,#192430 51%,#000);
	background: -ms-linear-gradient(#172C3D,#2A496B 50%,#192430 51%,#000);
	background: -o-linear-gradient(#172C3D 0%,#2A496B 50%,#192430 51%,#000);
	background: linear-gradient(#172C3D,#2A496B 50%,#192430 51%,#000);
	-pie-background: linear-gradient(#172C3D,#2A496B 50%,#192430 51%,#000);
	
	-webkit-border-radius-bottomleft: 5px;
	-webkit-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-topleft: 5px;
	border-radius: 5px 5px 5px 5px ;
	
	}
	
input[type=submit]:hover {
	width:200px;
	height:40px;
background: -webkit-linear-gradient(#172C3D,#2A496B 50%,#192430 51%,#000);
	background: -moz-linear-gradient(#172C3D,#2A496B 50%,#192430 51%,#000);
	background: -ms-linear-gradient(#172C3D,#2A496B 50%,#192430 51%,#000);
	background: -o-linear-gradient(#172C3D 0%,#2A496B 50%,#192430 51%,#000);
	background: linear-gradient(#172C3D,#2A496B 50%,#192430 51%,#000);
	-pie-background: linear-gradient(#172C3D,#2A496B 50%,#192430 51%,#000);
	
	-webkit-border-radius-bottomleft: 5px;
	-webkit-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-topleft: 5px;
	border-radius: 5px 5px 5px 5px ;
	
	}
	