/********Cadre *************/
body {
	background-attachment:fixed;
	height:2000px;
	background:#000;
	background:url(image/women-doing-yoga22.jpg);
	background-repeat:repeat-x;
}

.wrapper{
	background:url(image/essaie2.fw.png);
	width:770px;
	height:450px;
	margin: 250px auto;
	background-repeat:repeat;	
}



/********* Choose your location  **********/
#middlebar{
	font-size: 12px;
	font-weight: bold;
	height: 200px;
	width:400px;
	margin-top:20px;
}


/********By Location / Choose a Sport***************/

/***************People********************/

.paragraphe {
	margin: 10px 0 0 25px;
	font-family:myriad pro, Courier New, Courier, monospace;
	font-size:35px;
	color:#F89920;
}

#sport_choice2{
	float:left;
	margin-left:90px;
	margin-top:15px;
	width:230px;}	

#people_div{
	float:left;
	margin-left:90px;
	margin-top:35px;
	width:170px;
	height:30px;
}

#time_picker
{ float:left;
	margin-left:90px;
	margin-top:45px;
	width:170px;
}

#date_picker
{
	margin-top:-200px;
	width:270px;
	height:240px;
	float:right;
	margin-right:80px;
}

.book{
	float:left;
	width:200px;
	margin:50px 0 0 500px;}



/***** CSS 3 FORM*****/


input[type=submit]{
	width:200px;
	height:40px;
	background-color:#F89920;
	
	-webkit-border-radius-bottomleft: 5px;
	-webkit-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-topleft: 5px;
	border-radius: 5px 5px 5px 5px ;
	
	}
	
input[type=submit]:hover {
	width:200px;
	height:40px;
	background-color:#C93;
	
	-webkit-border-radius-bottomleft: 5px;
	-webkit-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-topleft: 5px;
	border-radius: 5px 5px 5px 5px ;
	
	}
	